@keyframes shake {
  59% {
    margin-left: 0;
  }

  60%,
  80% {
    margin-left: 2px;
  }

  70%,
  90% {
    margin-left: -2px;
  }
}

@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes progress-circular {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 120%;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
