{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2022": true,
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022,
    "parser": "@typescript-eslint/parser",
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
      },
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/no-unresolved": "on",
    "import/consistent-type-specifier-style": ["error", "prefer-top-level"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type",
        ],
      },
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["all", "single", "multiple", "none"],
        "allowSeparatedGroups": true,
      },
    ],
    "vue/no-reserved-props": ["error", { "vueVersion": 3 }],
    "vue/no-unused-components": ["error", { "ignoreWhenBindingPresent": true }],
    "vue/no-unused-vars": ["warn", { "ignorePattern": "^_" }],
    "vue/attributes-order": [
      "error",
      {
        "order": [
          "LIST_RENDERING",
          "CONDITIONALS",
          "RENDER_MODIFIERS",
          "CONTENT",
          "SLOT",
          "DEFINITION",
          "TWO_WAY_BINDING",
          "OTHER_DIRECTIVES",
          "UNIQUE",
          "GLOBAL",
          "ATTR_DYNAMIC",
          "ATTR_STATIC",
          "ATTR_SHORTHAND_BOOL",
          "EVENTS",
        ],
        "alphabetical": true,
      },
    ],
    "vue/block-order": ["error", { "order": ["script", "template", "style"] }],
    "vue/component-name-in-template-casing": ["error", "PascalCase"],
    "vue/component-options-name-casing": ["error", "PascalCase"],
    "vue/custom-event-name-casing": ["error", "camelCase"],
    "vue/v-on-event-hyphenation": ["error", "always", { "autofix": true }],
    "vue/define-macros-order": [
      "error",
      {
        "order": ["defineOptions", "defineProps", "defineEmits", "defineModel", "defineSlots"],
        "defineExposeLast": true,
      },
    ],
    "vue/enforce-style-attribute": ["error", { "allow": ["plain"] }],
    "vue/html-button-has-type": "error",
    "vue/match-component-file-name": ["error", { "extensions": ["jsx", "tsx", "vue"] }],
    "vue/new-line-between-multi-line-property": "error",
    "vue/no-empty-component-block": "error",
    "vue/no-potential-component-option-typo": ["error", { "presets": ["vue"] }],
    "vue/padding-line-between-blocks": ["error", "always"],
    "vue/no-v-html": "off",
    "vue/order-in-components": "warn",
    "vue/require-default-prop": "off",
  },
}
